.com-mask {
    display: block;
    position: fixed;
    z-index: 1113;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, .4);
}

.com-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.750em;
    border-radius: 0.375em 0.375em 0 0;
    background: #ffffff;
    box-shadow: 0px 0.188em 0.625em 0.063em rgba(0, 0, 0, 0.07);
}

.com-header>h4 {
    margin: 0 0 0 1.500em;
    font-size: 1.125em;
    color: #333333;
}

.com-header>ul {
    display: flex;
    height: 100%;
    cursor: pointer;
}

.com-header>ul>li {
    display: flex;
    align-items: center;
    padding: 0 0.313em;
}

.com-header>ul>li:nth-of-type(1) {
    margin: 0 3.313em 0 0;
}

.com-header>ul>li>span {
    font-size: 1.000em;
    color: #E1B286;
}

.com-close {
    width: 1.625em;
    height: 1.625em;
    margin: 0 0.75em 0 0;
    cursor: pointer;
}

.com-footer {
  width: 100%;
  height: 3.750em;
  line-height: 3.750em;
  text-align: right;
  border-radius: 0 0 0.500em 0.500em;
  background: #FFFFFF;
  box-shadow: 0px -0.188em 0.625em 0.063em rgba(0, 0, 0, 0.07);
}
