.extensions-dialog {
  /* visibility: hidden; */
  position: fixed;
  z-index: 1113;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}
.extensions-modal {
  display: inline-block;
  width: 600px;
  height: auto;
  margin: 150px 0 0 0;
  border-radius: 6px;
  text-align: left;
  vertical-align: middle;
  background: #ffffff;
  font-size: 16px;
}
.extensions-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 6px 6px 0 0;
  background: #ffffff;
  box-shadow: 0px 0.188em 0.625em 0.063em rgba(0, 0, 0, 0.07);
}
.extensions-modal-header > h4 {
  margin: 0 0 0 1.5em;
  font-size: 1.125em;
  color: #333333;
}
.extensions-modal-header > ul {
  display: flex;
  height: 100%;
  /* cursor: pointer; */
}
.extensions-modal-header > ul > li {
  display: flex;
  align-items: center;
  padding: 0 0.313em;
}
/* .extensions-modal-header > ul > li:nth-of-type(1) {
  margin: 0 3.313em 0 0;
} */
.extensions-modal-header > ul > li > span {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}
.extensions-modal-close {
  width: 28px;
  height: 28px;
  margin: 0 0.75em 0 0;
  background: url('../media/new-icon/com-close.png') center/cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.extensions-modal-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  overflow: hidden;
}
.extensions-modal-list {
  display: flex;
  flex-wrap: wrap;
  align-self: start;
  width: calc(100% - 15.000em);
  margin: 0 0 5px 0;
  height: 350px;
  padding: 0 0 1.875em 1.875em;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
.extensions-modal-list > li {
  position: relative;
  width: 12.000em;
  height: 13.750em;
  margin: 1.250em 0.750em 0 0;
  border: 0.125em solid white;
  border-radius: 0.500em;
  padding: 0.125em;
  overflow: hidden;
  cursor: pointer;
}
.extensions-modal-list > li:hover {
  border: 0.125em solid #3498db;
}
.extensions-modal-list-act {
  border: 0.125em solid #3498db !important;
}
.extensions-list-image {
  width: 12.000em;
  height: 8.000em;
  border-radius: 0.125em 0.125em 0 0;
  padding: 1.938em 0;
  box-sizing: border-box;
}
.extensions-list-detail {
  width: 100%;
  height: calc(13.750em - 3.750em - 2 * 1.938em);
  padding: 0.875em 0.750em;
  box-sizing: border-box;
}
.extensions-list-detail > h4 {
  margin: 0 0 0.625em 0;
  font-size: 1.000em;
}
.extensions-list-detail > span {
  font-family: Source Han Sans CN;
  color: #666666;
  font-weight: 500;
  font-size: 0.875em;
  font-style: normal;
  text-decoration: none;
  text-align: left;
}
.extensions-modal-footer {
  display: none;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: right;
  border-radius: 0 0 0.5em 0.5em;
  background: #ffffff;
  box-shadow: 0px -0.188em 0.625em 0.063em rgba(0, 0, 0, 0.07);
}
.extensions-modal-confirm {
  width: auto;
  height: auto;
  margin: 0.75em 1.5em 0 0;
  border: none;
  border-radius: 0.25em;
  padding: 0.688em 2em;
  font-size: 1em;
  font-weight: 500;
  background: #3498db;
  color: #ffffff;
  cursor: pointer;
}
