.search-device-dialog {
    display: inline-block;
    /* width: 46.563em; */
    width: 28.125em;
    height: auto;
    margin: 9.375em 0 0 0;
    border-radius: 0.500em;
    text-align: left;
    vertical-align: middle;
    background: #FFFFFF;
    font-size: 16px;
}

.search-device-header {}

.search-device-close {}

.search-device-content {
    position: relative;
    width: 100%;
    height: 24.0625em;
    overflow: hidden;
}

.search-device-search {
    display: flex;
    align-items: center;
    margin: 1.250em 0 0 1.875em;
}

.search-device-search>span {
    font-size: 1.000em;
    font-family: Source Han Sans CN-Regular;
    color: #666666;
}

#network {
    flex: 1;
    width: auto;
    height: 2.000em;
    margin: 0 0.500em 0.063em;
    border: 0.063em solid #e4e3e4;
    border-radius: 0.250em;
    box-sizing: border-box;
}

.search-btn {
    margin: 0.063em 1.875em 0 0;
    padding: 0.375em 0.875em;
    border: none;
    border-radius: 0.250em;
    font-size: 1.000em;
    font-family: Source Han Sans CN-Regular;
    color: #ffffff;
    background: rgba(52, 152, 219, 0.7);
    cursor: pointer;
}

.search-device-num {
    margin: 1.250em 0 0 1.875em;
    font-size: 1.000em;
    color: #333333;
}

.search-device-list {
    height: 17.875em;
    margin: 0 1.875em;
    overflow: hidden;
    overflow-y: auto;
}

.search-device-list>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 42.813em; */
    width: auto;
    height: 4.375em;
    margin: 1.250em 0 0 0;
    border-radius: 0.375em;
    border: 0.063em solid #E4E3E4;
    padding: 0 2.000em;
    background: #FFFFFF;
    box-shadow: 0px 0px 0.625em 0.063em rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    cursor: pointer;
}

.search-device-list>li>div:nth-of-type(1) {
    font-size: 1.250em;
    color: #333333;
}

.search-device-list-act {
    border-color: rgba(52, 152, 219) !important;
    background: rgba(52, 152, 219, 0.4) !important;
    color: #CE8137 !important;
}

.search-device-list-act>div:nth-of-type(1) {
    color: #ffffff !important;
}

.search-device-load {
    display: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    text-align: center;
    background: transparent;
}

.search-device-footer {
    display: none;
}

.search-device-confirm {
    width: auto;
    height: auto;
    margin: 0.750em 1.500em 0 0;
    border: none;
    border-radius: 0.250em;
    padding: 0.688em 2.000em;
    font-size: 1.000em;
    background: rgba(52, 152, 219, 0.7);
    color: #FFFFFF;
    cursor: pointer;
}

#port {
    width: 50px;
    height: 2.000em;
    margin: 0 0.500em 0.063em;
    border: 0.063em solid #e4e3e4;
    border-radius: 0.250em;
    box-sizing: border-box;
}

.ws-circle {
    position: relative;
    width: 40px;
    height: 40px;
    margin: auto;
    border: 1px solid #CE8137;
    border-radius: 100%;
}

.circle-bor {
    width: 20px;
    height: 20px;
    margin: 9px auto;
    border: 1px solid #CE8137;
    border-radius: 100%;
}

.circle-bor>div {
    width: 4px;
    height: 4px;
    margin: 6px auto;
    border: 1px solid #CE8137;
    border-radius: 100%;
    background: #CE8137;
}

.circle-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    overflow: hidden;
    animation: circleRotate 2s linear 0ms infinite normal;
}

.circle-mask>.part {
    width: 58%;
    height: 58%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 0% 0%;
}

.pos01 {
    transform: rotate(0deg) skewX(-30deg);
    background-color: #FADF75;
    opacity: .6;
}

.pos02 {
    background-color: transparent;
    transform: rotate(120deg) skewX(-30deg);
}

.pos03 {
    background-color: #FADF75;
    opacity: .6;
    transform: rotate(240deg) skewX(-30deg);
}

@keyframes circleRotate {
    100% {
        transform: rotate(360deg);
    }
}